@media(max-width: 1920px){

.inicio{
    height: 80vh;
}
    
.inicio header{
    padding-top: 40px;
}

.inicio header p{
    font-size: 20px;
}

.inicio header nav{
    margin-left:300px ;
}

.inicio header nav a{
    margin-right: 25px;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 7px;
}

.inicio section{
    padding: 250px;
}

.inicio section h1{
    margin-bottom: 20px;
    font-size: 50px;
}

.inicio section p{
    margin-bottom: 30px;
    font-size: 25px;
}

.inicio section div a{
    border-radius: 25px ;
    border-width: 1.5px;
    font-size: 32px;
    margin-right: 10px;
    padding: 8px 12px;
}

#flecha-abajo{
    display: none;
}

.sobre-mi{
padding: 50px 0px 0px ;
margin-bottom: 100px;
margin-right: 0;
}

.sobre-mi img{
    width: 720px ;
    height: 720px; 
    padding: 0px 100px;  
    border-radius: 30%;
}

.sobre-mi div{
    margin-top: 50px;
    padding-left: 80px;
    padding-right: 20%;
}

.sobre-mi div h1{
    font-size: 50px;
}

.sobre-mi div p{
    font-size: 18px;
    margin-bottom: 20px;
}

.cv-contactame{
    display: flex;
    margin-top: 80px;
    padding-left: 0px; 
}

.cv-contactame a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    width: 140px;
    height: 40px;
}

.habilidades{
    padding: 80px 0px 80px 150px;
    border-radius: 30px;
}

.skills-descripcion{
    margin-top: 50px;
    padding-left: 50px;
    margin-right: 100px;
    height: auto;
}

.skills-descripcion h1{
    font-size: 50px;
}

.skills-descripcion h3{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 300;
}

.skills-descripcion p{
    font-size: 16px;
    margin-bottom: 30px;
}

.habilidades div a{
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 7px;
}

.alinear-skills{
    margin-right: 200px;
}

.alinear-skills div{
    margin-right: 50px;
}

#icono-html{
    font-size: 70px;
    margin-bottom: 20px;
}

#icono-css{
    font-size: 70px;
    margin-bottom: 20px;
}

.experiencia{
    padding: 80px 0px 80px 150px;
    height: 100%;
}

.experiencia h1{
    margin-bottom: 100px;
    font-size: 50px;
}

.contenedor-experiencia{
    padding: 0px 200px 200px 200px;
}

#num-2024{
    padding: 10px;
    height: fit-content;
    font-weight: 300;
    margin-right: 40px;
}

.formas{
    margin-right: 25px;
}

.circulo{
    border-radius: 10px;
    padding: 7px;
}

.linea-recta{
    width: 2px;
    height: 100%;
    position: relative;
    left: 8px;
}

.experienciaa h2{
    margin-bottom: 20px;
    font-size: 26px;
}

.experienciaa h3{
    margin-bottom: 20px;
    font-size: 16px;
}

.experienciaa p{
    font-size: 16px;
}

.ultimos-proyectos{
    height: 100%;
}

.ultimos-proyectos h1{
    font-size: 50px;
    margin-bottom: 100px;
}

.ultimos-proyectos-contenedor{
    padding: 0px 0px 0px 100px;
}

#flecha-izquierda{
    margin-right: 100px;
}

.ultimos-proyectos-contenedor i{
    font-size: 50px;
}

.ultimos-proyectos div img{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    margin-right: 20px;
}

.ultimos-proyectos-contenedor-descrip{
    height: 500px;
    padding-right: 500px;
    width: 100%;
}

.ultimos-proyectos-contenedor-descrip h2{
    font-size: 26px;
    margin-bottom: 20px;
}

.ultimos-proyectos-contenedor-descrip p{
    font-size: 16px;
}

.ultimos-proyectos-contenedor-descrip a{
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 7px;
    width: fit-content;
}

#flecha-derecha{
    position: absolute;
    right: 400px;
}

.perfiles{
    padding: 100px 0px;
    
}

.links-perfiles{
    padding: 50px 0px 50px 100px;
    margin-right: 50px;
    height: 160px;
    margin-left: 400px;
}

.links-perfiles div{
    margin-right: 50px;
}

.links-perfiles i{
    font-size: 70px;
    margin-bottom: 10px;
}

.perfiles-contenedor{
    height: 200px;
    padding-right: 30%;
}

.perfiles-contenedor h1{
    font-size: 50px;
    margin-top: 0;
}

.perfiles-contenedor p{
    font-size: 16px;
}

.contactame{
    
}







}