@media(max-width: 1920px){

.inicio{
    height: 80vh;
    margin-bottom: 7%;
}
    
.inicio header{
    padding-top: 40px;
}

.inicio header p{
    font-size: 20px;
}

.inicio header nav{
    margin-left:300px ;
}

.inicio header nav a{
    margin-right: 25px;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 7px;
}

.inicio section{
    padding: 250px;
}

.inicio section h1{
    margin-bottom: 20px;
    font-size: 50px;
}

.inicio section p{
    margin-bottom: 30px;
    font-size: 25px;
}

.inicio section div a{
    border-radius: 25px ;
    border-width: 1.5px;
    font-size: 32px;
    margin-right: 10px;
    padding: 8px 12px;
}

#flecha-abajo{
    font-size: 50px;
    position: relative;
    top: 250px;
    right: 5px;
    transition: 0.5s;
}

#flecha-abajo:hover{
    color: #FBFBFB;
}

.sobre-mi{
padding: 50px 0px 0px ;
margin-bottom: 100px;
margin-right: 0;
}

.sobre-mi img{
    width: 720px ;
    height: 720px; 
    padding: 0px 100px;  
    border-radius: 30%;
}

.sobre-mi div{
    margin-top: 50px;
    padding-left: 80px;
}

.sobre-mi div h1{
    font-size: 50px;
}

.sobre-mi div p{
    font-size: 18px;
    margin-bottom: 20px;
    padding-right: 300px;
}

.cv-contactame{
    display: flex;
    margin-top: 80px;
    padding-left: 0px; 
}

.cv-contactame a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    width: 140px;
    height: 40px;
    position: relative;
    right: 80px; 
}

.habilidades{
    padding: 80px 0px 80px 150px;
    border-radius: 30px;
}

.skills-descripcion{
    margin-top: 50px;
    padding-left: 50px;
    margin-right: 100px;
    height: auto;
}

.skills-descripcion h1{
    font-size: 50px;
}

.skills-descripcion h3{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 300;
}

.skills-descripcion p{
    font-size: 16px;
    margin-bottom: 30px;
}

.habilidades div a{
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 7px;
}

.alinear-skills{
    margin-right: 200px;
}

.alinear-skills div{
    margin-right: 50px;
}

#icono-html{
    font-size: 70px;
    margin-bottom: 20px;
}

#icono-css{
    font-size: 70px;
    margin-bottom: 20px;
}

.experiencia{
    padding: 80px 0px 80px 150px;
    height: 100%;
}

.experiencia h1{
    margin-bottom: 100px;
    font-size: 50px;
}

.contenedor-experiencia{
    padding: 0px 200px 200px 200px;
}

#num-2024{
    padding: 10px;
    height: fit-content;
    font-weight: 300;
    margin-right: 40px;
}

.formas{
    margin-right: 25px;
}

.circulo{
    border-radius: 10px;
    padding: 7px;
}

.linea-recta{
    width: 2px;
    height: 100%;
    position: relative;
    left: 8px;
    top: 15px;
}

.experienciaa h2{
    margin-bottom: 20px;
    font-size: 26px;
}

.experienciaa h3{
    margin-bottom: 20px;
    font-size: 16px;
}

.experienciaa p{
    font-size: 16px;
}

.ultimos-proyectos{
    height: 100%;
}

.ultimos-proyectos h1{
    font-size: 50px;
    margin-bottom: 100px;
}

.ultimos-proyectos-contenedor{
    padding: 0px 0px 0px 100px;
}

#flecha-izquierda{
    margin-right: 100px;
    color: #424242;
    transition: 0.5s;
}

#flecha-izquierda:hover{
    color: #FBFBFB;
}

.ultimos-proyectos-contenedor i{
    font-size: 50px;
}

.ultimos-proyectos div img{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    margin-right: 20px;
}

.ultimos-proyectos-contenedor-descrip{
    height: 500px;
    padding-right: 500px;
    width: 100%;
}

.ultimos-proyectos-contenedor-descrip h2{
    font-size: 26px;
    margin-bottom: 20px;
}

.ultimos-proyectos-contenedor-descrip p{
    font-size: 16px;
}

.ultimos-proyectos-contenedor-descrip a{
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 7px;
    width: fit-content;
}

#flecha-derecha{
    position: absolute;
    right: 400px;
    color: #424242;
    transition: 0.5s;
}

#flecha-derecha:hover{
    color: #FBFBFB;
}

.perfiles{
    padding: 100px 0px;
}

.links-perfiles{
    padding: 50px 0px 50px 100px;
    margin-right: 50px;
    height: 160px;
    margin-left: 400px;
}

.links-perfiles div{
    margin-right: 50px;
}

.links-perfiles i{
    font-size: 70px;
    margin-bottom: 10px;
}

#instagram{
    position: relative;
    left: 5px;
}

.perfiles-contenedor{
    height: 200px;
    padding-right: 30%;
}

.perfiles-contenedor h1{
    font-size: 50px;
    margin-top: 0;
}

.perfiles-contenedor p{
    font-size: 16px;
}

.contactame{
    padding: 50px 0px 20px 0px;
    border-radius: 20px;
}

.contactame-contenedor-titulo{
    margin-right: 200px;
}

.contactame-contenedor-titulo h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.contactame-contenedor-titulo h3{
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 20px;
}

.contactame-contenedor-titulo p{
    font-size: 12px;
    margin-bottom: 10px;
}

form{
    margin-bottom: 50px;
}

form label{
    font-size: 16px;
    margin-bottom: 10px;
}

form input{
    border-radius: 7px;
    height: 40px;
    margin-bottom: 15px;
    padding: 5px;
}

.numero-correo{
    margin-right: 30px;
    width: 350px;
    padding: 0;
}

#texto-largo{
    height: 150px;
}

form button{
    width:fit-content;
    font-size: 20px;
    margin-top: 10px;
    left: 680px; 
}

.contactame-contenedor-links{
    margin-right: 100px;
    position: relative;
    right: 200px;
}

.contactame-contenedor-links a{
    margin-right: 10px;
}

.contactame-contenedor-links i{
    font-size: 30px;
}

}

@media(max-width: 1440px){
    .inicio{
        height: 80vh;
    }
        
    .inicio header{
        padding-top: 30px;
    }
    
    .inicio header p{
        font-size: 16px;
        position: relative;
        left: 100px;
    }
    
    .inicio header nav{
        margin-left:300px ;
    }
    
    .inicio header nav a{
        margin-right: 5px;
        font-size: 16px;
        padding: 10px 25px;
        border-radius: 7px;
    }
    
    .inicio section{
        padding: 250px;
    }
    
    .inicio section h1{
        margin-bottom: 20px;
        font-size: 40px;
    }
    
    .inicio section p{
        margin-bottom: 30px;
        font-size: 20px;
    }
    
    .inicio section div a{
        border-radius: 25px ;
        border-width: 1.5px;
        font-size: 20px;
        margin-right: 10px;
        padding: 8px 12px;
    }
    
    #flecha-abajo{
        font-size: 40px;
        position: relative;
        top: 150px;
        left: 0.5px;
    }
    
    .sobre-mi{
    padding: 50px 0px 0px ;
    margin-bottom: 100px;
    margin-right: 0;
    }
    
    .sobre-mi img{
        width: 520px ;
        height: 520px; 
        padding: 0px 100px;  
        border-radius: 30%;
    }
    
    .sobre-mi div{
        margin-top: 50px;
        padding-left: 80px;
    }
    
    .sobre-mi div h1{
        font-size: 40px;
    }
    
    .sobre-mi div p{
        font-size: 14px;
        margin-bottom: 15px;
        padding-right: 200px;
    }
    
    .cv-contactame{
        display: flex;
        margin-top: 80px;
        padding-left: 0px; 
    }
    
    .cv-contactame a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 7px;
        width: 140px;
        height: 30px;
        position: relative;
        right: 80px; 
    }
    
    .habilidades{
        padding: 80px 0px 80px 150px;
        border-radius: 30px;
    }
    
    .skills-descripcion{
        margin-top: 50px;
        padding-left: 50px;
        margin-right: 100px;
        height: auto;
    }
    
    .skills-descripcion h1{
        font-size: 40px;
    }
    
    .skills-descripcion h3{
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 300;
    }
    
    .skills-descripcion p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    .habilidades div a{
        margin-top: 30px;
        font-size: 16px;
        padding: 10px 25px;
        border-radius: 7px;
    }
    
    .alinear-skills{
        margin-right: 100px;
    }
    
    .alinear-skills div{
        margin-right: 50px;
    }
    
    .alinear-skills img{
        width: 70px;
        height: 70px;
    }

    .alinear-skills p{
        font-size: 12px;
    }

    #icono-html{
        font-size: 50px;
        margin-bottom: 20px;
    }
    
    #icono-css{
        font-size: 50px;
        margin-bottom: 20px;
    }
    
    .experiencia{
        padding: 80px 0px 0px 150px;
        height: 100%;
    }
    
    .experiencia h1{
        margin-bottom: 100px;
        font-size: 40px;
    }
    
    .contenedor-experiencia{
        padding: 0px 200px 200px 200px;
    }
    
    #num-2024{
        padding: 10px;
        height: fit-content;
        font-weight: 300;
        margin-right: 40px;
        font-size: 16px;
    }
    
    .formas{
        margin-right: 25px;
    }
    
    .circulo{
        border-radius: 10px;
        padding: 7px;
    }
    
    .linea-recta{
        width: 2px;
        height: 100%;
        position: relative;
        left: 8px;
        top: 15px;
    }
    
    .experienciaa h2{
        margin-bottom: 20px;
        font-size: 22px;
    }
    
    .experienciaa h3{
        margin-bottom: 20px;
        font-size: 14px;
    }
    
    .experienciaa p{
        font-size: 14px;
    }
    
    .ultimos-proyectos{
        height: 100%;
    }
    
    .ultimos-proyectos h1{
        font-size: 40px;
        margin-bottom: 100px;
    }
    
    .ultimos-proyectos-contenedor{
        padding: 0px 0px 0px 100px;
    }
    
    #flecha-izquierda{
        margin-right: 100px;
    }
    
    .ultimos-proyectos-contenedor i{
        font-size: 50px;
    }
    
    .ultimos-proyectos div img{
        width: 600px;
        height: 400px;
        border-radius: 10px;
        margin-right: 20px;
        position: relative;
        bottom: 50px;
    }
    
    .ultimos-proyectos-contenedor-descrip{
        height: 500px;
        padding-right: 0px;
        width: 100%;
    }
    
    .ultimos-proyectos-contenedor-descrip h2{
        font-size: 22px;
        margin-bottom: 20px;
    }
    
    .ultimos-proyectos-contenedor-descrip p{
        font-size: 14px;
        padding-right: 300px;
    }
    
    .ultimos-proyectos-contenedor-descrip a{
        margin-right: 5px;
        font-size: 16px;
        padding: 10px 25px;
        border-radius: 7px;
        width: fit-content;
    }
    
    #flecha-derecha{
        position: absolute;
        right: 200px;
    }
    
    .perfiles{
        padding: 100px 0px;
    }
    
    .links-perfiles{
        padding: 50px 0px 50px 100px;
        margin-right: 50px;
        height: 160px;
        margin-left: 200px;
    }
    
    .links-perfiles div{
        margin-right: 50px;
    }
    
    .links-perfiles i{
        font-size: 60px;
        margin-bottom: 10px;
    }
    
    .links-perfiles p{
        font-size: 14px;
    }

    .perfiles-contenedor{
        height: 200px;
        padding-right: 200px;
    }
    
    .perfiles-contenedor h1{
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 30px;
    }
    
    .perfiles-contenedor p{
        font-size: 14px;
    }
    
    .contactame{
        padding: 50px 0px 20px 0px;
        border-radius: 20px;
    }
    
    .contactame-contenedor-titulo{
        margin-right: 200px;
    }
    
    .contactame-contenedor-titulo h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    
    .contactame-contenedor-titulo h3{
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 13px;
    }
    
    .contactame-contenedor-titulo p{
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    form label{
        font-size: 13px;
        margin-bottom: 10px;
    }
    
    form input{
        border-radius: 7px;
        height: 30px;
        margin-bottom: 15px;
        padding: 5px;
        font-size: 14px;
    }
    
    .numero-correo{
        margin-right: 30px;
        width: 350px;
        padding: 0;
    }
    
    #texto-largo{
        height: 140px;
    }
    
    form button{
        width:fit-content;
        font-size: 16px;
        margin-top: 10px;
        left: 680px; 
    }
    
    .contactame-contenedor-links{
        position: relative;
        right: 100px;
        margin: 0;
    }
    
    .contactame-contenedor-links a{
        margin-right: 10px;
    }
    
    .contactame-contenedor-links i{
        font-size: 20px;
    }

}

@media(max-width: 1280px){
    
    .inicio{
        height: 80vh;
    }
        
    .inicio header{
        padding-top: 30px;
    }
    
    .inicio header p{
        font-size: 16px;
        position: relative;
        left: 100px;
    }
    
    .inicio header nav{
        margin-left:300px ;
    }
    
    .inicio header nav a{
        margin-right: 5px;
        font-size: 16px;
        padding: 10px 25px;
        border-radius: 7px;
    }
    
    .inicio section{
        padding: 250px;
    }
    
    .inicio section h1{
        margin-bottom: 20px;
        font-size: 40px;
    }
    
    .inicio section p{
        margin-bottom: 30px;
        font-size: 20px;
    }
    
    .inicio section div a{
        border-radius: 25px ;
        border-width: 1.5px;
        font-size: 20px;
        margin-right: 10px;
        padding: 8px 12px;
    }
    
    #flecha-abajo{
        font-size: 40px;
        position: relative;
        top: 150px;
        left: 0.5px;
    }
    
    .sobre-mi{
    padding: 50px 0px 0px ;
    margin-bottom: 100px;
    margin-right: 0;
    }
    
    .sobre-mi img{
        width: 520px ;
        height: 520px; 
        padding: 0px 100px;  
        border-radius: 30%;
    }
    
    .sobre-mi div{
        margin-top: 50px;
        padding-left: 80px;
    }
    
    .sobre-mi div h1{
        font-size: 40px;
    }
    
    .sobre-mi div p{
        font-size: 14px;
        margin-bottom: 15px;
        padding-right: 100px;
    }
    
    .cv-contactame{
        display: flex;
        margin-top: 80px;
        padding-left: 0px; 
    }
    
    .cv-contactame a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 7px;
        width: 140px;
        height: 30px;
        position: relative;
        right: 80px; 
    }
    
    .habilidades{
        padding: 80px 0px 80px 150px;
        border-radius: 30px;
    }
    
    .skills-descripcion{
        margin-top: 50px;
        padding-left: 50px;
        margin-right: 100px;
        height: auto;
    }
    
    .skills-descripcion h1{
        font-size: 40px;
    }
    
    .skills-descripcion h3{
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 300;
    }
    
    .skills-descripcion p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    .habilidades div a{
        margin-top: 30px;
        font-size: 16px;
        padding: 10px 25px;
        border-radius: 7px;
    }
    
    .alinear-skills{
        margin-right: 100px;
    }
    
    .alinear-skills div{
        margin-right: 50px;
    }
    
    .alinear-skills img{
        width: 70px;
        height: 70px;
    }

    .alinear-skills p{
        font-size: 12px;
    }

    #icono-html{
        font-size: 50px;
        margin-bottom: 20px;
    }
    
    #icono-css{
        font-size: 50px;
        margin-bottom: 20px;
    }
    
    .experiencia{
        padding: 80px 0px 0px 150px;
        height: 100%;
    }
    
    .experiencia h1{
        margin-bottom: 100px;
        font-size: 40px;
    }
    
    .contenedor-experiencia{
        padding: 0px 200px 200px 200px;
    }
    
    #num-2024{
        padding: 10px;
        height: fit-content;
        font-weight: 300;
        margin-right: 40px;
        font-size: 16px;
    }
    
    .formas{
        margin-right: 25px;
    }
    
    .circulo{
        border-radius: 10px;
        padding: 7px;
    }
    
    .linea-recta{
        width: 2px;
        height: 100%;
        position: relative;
        left: 8px;
        top: 15px;
    }
    
    .experienciaa h2{
        margin-bottom: 20px;
        font-size: 22px;
    }
    
    .experienciaa h3{
        margin-bottom: 20px;
        font-size: 14px;
    }
    
    .experienciaa p{
        font-size: 14px;
    }
    
    .ultimos-proyectos{
        height: 100%;
    }
    
    .ultimos-proyectos h1{
        font-size: 40px;
        margin-bottom: 100px;
    }
    
    .ultimos-proyectos-contenedor{
        padding: 0px 0px 0px 100px;
    }
    
    #flecha-izquierda{
        margin-right: 100px;
    }
    
    .ultimos-proyectos-contenedor i{
        font-size: 50px;
    }
    
    .ultimos-proyectos div img{
        width: 600px;
        height: 400px;
        border-radius: 10px;
        margin-right: 20px;
        position: relative;
        bottom: 50px;
    }
    
    .ultimos-proyectos-contenedor-descrip{
        height: 500px;
        padding-right: 0px;
        width: 100%;
    }
    
    .ultimos-proyectos-contenedor-descrip h2{
        font-size: 22px;
        margin-bottom: 20px;
    }
    
    .ultimos-proyectos-contenedor-descrip p{
        font-size: 14px;
        padding-right: 300px;
    }
    
    .ultimos-proyectos-contenedor-descrip a{
        margin-right: 5px;
        font-size: 16px;
        padding: 10px 25px;
        border-radius: 7px;
        width: fit-content;
    }
    
    #flecha-derecha{
        position: absolute;
        right: 200px;
    }
    
    .perfiles{
        padding: 100px 0px;
    }
    
    .links-perfiles{
        padding: 50px 0px 50px 100px;
        margin-right: 50px;
        height: 160px;
        margin-left: 200px;
    }
    
    .links-perfiles div{
        margin-right: 50px;
    }
    
    .links-perfiles i{
        font-size: 60px;
        margin-bottom: 10px;
    }
    
    .links-perfiles p{
        font-size: 14px;
    }

    .perfiles-contenedor{
        height: 200px;
        padding-right: 200px;
    }
    
    .perfiles-contenedor h1{
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 30px;
    }
    
    .perfiles-contenedor p{
        font-size: 14px;
    }

    .contactame{
        padding: 50px 0px 20px 0px;
        border-radius: 20px;
    }
    
    .contactame-contenedor-titulo{
        margin-right: 100px;
    }
    
    .contactame-contenedor-titulo h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    
    .contactame-contenedor-titulo h3{
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 13px;
    }
    
    .contactame-contenedor-titulo p{
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    form{
        width: 500px;
    }

    form label{
        font-size: 13px;
        margin-bottom: 10px;
    }
    
    form input{
        border-radius: 7px;
        height: 30px;
        margin-bottom: 15px;
        padding: 5px;
        font-size: 14px;
    }
    
    .numero-correo{
        margin-right: 30px;
        width: 350px;
        padding: 0;
    }
    
    #texto-largo{
        height: 140px;
    }
    
    form button{
        width:fit-content;
        font-size: 16px;
        margin-top: 10px;
        left: 425px; 
    }
    
    .contactame-contenedor-links{
        position: relative;
        right: 200px;
        margin: 0;
    }
    
    .contactame-contenedor-links a{
        margin-right: 10px;
    }
    
    .contactame-contenedor-links i{
        font-size: 20px;
    }

}

@media(max-width: 1024px){
    .inicio{
        height: 700px;
    }
        
    .inicio header{
        padding-top: 30px;
    }
    
    .inicio header p{
        font-size: 13px;
        position: relative;
        left: 100px;
    }
    
    .inicio header nav{
        margin-left:300px ;
    }
    
    .inicio header nav a{
        margin-right: 5px;
        font-size: 13px;
        padding: 10px 15px;
        border-radius: 7px;
    }
    
    .inicio section{
        padding: 200px;
    }
    
    .inicio section h1{
        margin-bottom: 20px;
        font-size: 35px;
    }
    
    .inicio section p{
        margin-bottom: 30px;
        font-size: 18px;
    }
    
    .inicio section div a{
        border-radius: 25px ;
        border-width: 1.5px;
        font-size: 18px;
        margin-right: 10px;
        padding: 8px 12px;
    }
    
    #flecha-abajo{
        font-size: 36px;
        position: relative;
        top: 150px;
        left: 0.5px;
    }
    
    .sobre-mi{
    padding: 0px;
    margin-bottom: 100px;
    margin-right: 0;
    }
    
    .sobre-mi img{
        width: 420px ;
        height: 420px; 
        padding: 0px 100px;  
        border-radius: 30%;
    }
    
    .sobre-mi div{
        margin-top: 50px;
        padding-left: 0px;
    }
    
    .sobre-mi div h1{
        font-size: 35px;
    }
    
    .sobre-mi div p{
        font-size: 12px;
        margin-bottom: 15px;
        padding-right: 100px;
    }
    
    .cv-contactame{
        display: flex;
        margin-top: 80px;
        padding-left: 0px;
        width: fit-content; 
    }
    
    .cv-contactame a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 7px;
        width: 100px;
        height: 30px;
        position: relative;
        right: 10px; 
    }
    
    .habilidades{
        padding: 60px 0px 80px 100px;
        border-radius: 30px;
    }
    
    .skills-descripcion{
        margin-top: 50px;
        padding-left: 0px;
        margin-right: 70px;
        height: auto;
    }
    
    .skills-descripcion h1{
        font-size: 35px;
    }
    
    .skills-descripcion h3{
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 300;
    }
    
    .skills-descripcion p{
        font-size: 13px;
        margin-bottom: 20px;
    }
    
    .habilidades div a{
        margin-top: 30px;
        font-size: 13px;
        padding: 10px 15px;
        border-radius: 7px;
    }
    
    .alinear-skills{
        margin-right: 30px;
    }
    
    .alinear-skills div{
        margin-right: 30px;
    }
    
    .alinear-skills img{
        width: 70px;
        height: 70px;
    }

    .alinear-skills p{
        font-size: 12px;
    }

    #icono-html{
        font-size: 50px;
        margin-bottom: 20px;
    }
    
    #icono-css{
        font-size: 50px;
        margin-bottom: 20px;
    }
    
    .experiencia{
        padding: 60px 0px 0px 80px;
        height: 100%;
    }
    
    .experiencia h1{
        margin-bottom: 70px;
        font-size: 35px;
    }
    
    .contenedor-experiencia{
        padding: 0px 200px 200px 200px;
    }
    
    #num-2024{
        padding: 10px;
        height: fit-content;
        font-weight: 300;
        margin-right: 30px;
        font-size: 13px;
    }
    
    .formas{
        margin-right: 25px;
    }
    
    .circulo{
        border-radius: 10px;
        padding: 5px;
    }
    
    .linea-recta{
        width: 2px;
        height: 100%;
        position: relative;
        left: 6px;
        top: 12px;
    }
    
    .experienciaa h2{
        margin-bottom: 20px;
        font-size: 18px;
    }
    
    .experienciaa h3{
        margin-bottom: 20px;
        font-size: 13px;
    }
    
    .experienciaa p{
        font-size: 13px;
    }
    
    .ultimos-proyectos{
        height: 100%;
        margin-bottom: 25px;
    }
    
    .ultimos-proyectos h1{
        font-size: 35px;
        margin-bottom: 100px;
    }
    
    .ultimos-proyectos-contenedor{
        padding: 0px 0px 0px 50px;
    }
    
    #flecha-izquierda{
        margin-right: 100px;
    }
    
    .ultimos-proyectos-contenedor i{
        font-size: 40px;
    }
    
    .ultimos-proyectos div img{
        width: 500px;
        height: 300px;
        border-radius: 10px;
        margin-right: 20px;
        position: relative;
        bottom: 0px;
    }
    
    .ultimos-proyectos-contenedor-descrip{
        height: 300px;
        padding-right: 0px;
        width: 100%;
    }
    
    .ultimos-proyectos-contenedor-descrip h2{
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .ultimos-proyectos-contenedor-descrip p{
        font-size: 13px;
        padding-right: 100px;
    }
    
    .ultimos-proyectos-contenedor-descrip a{
        margin-right: 5px;
        font-size: 13px;
        padding: 10px 15px;
        border-radius: 7px;
        width: fit-content;
    }
    
    #flecha-derecha{
        position: absolute;
        right: 50px;
    }
    
    .perfiles{
        padding: 70px 0px 50px 0px;
    }
    
    .links-perfiles{
        padding: 50px 0px 50px 40px;
        margin-right: 50px;
        height: 160px;
        margin-left: 200px;
    }
    
    .links-perfiles div{
        margin-right: 50px;
    }
    
    .links-perfiles i{
        font-size: 50px;
        margin-bottom: 10px;
    }
    
    .links-perfiles p{
        font-size: 14px;
    }

    .perfiles-contenedor{
        height: 200px;
        padding-right: 200px;
    }
    
    .perfiles-contenedor h1{
        font-size: 35px;
        margin-top: 0;
        margin-bottom: 30px;
    }
    
    .perfiles-contenedor p{
        font-size: 13px;
    }

    .contactame{
        padding: 50px 0px 20px 0px;
        border-radius: 20px;
    }
    
    .contactame-contenedor-titulo{
        margin-right: 100px;
    }
    
    .contactame-contenedor-titulo h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    
    .contactame-contenedor-titulo h3{
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 12px;
    }
    
    .contactame-contenedor-titulo p{
        font-size: 9px;
        margin-bottom: 10px;
    }
    
    form{
        width: 500px;
    }

    form label{
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    form input{
        border-radius: 7px;
        height: 30px;
        margin-bottom: 15px;
        padding: 5px;
        font-size: 13px;
    }
    
    .numero-correo{
        margin-right: 30px;
        width: 350px;
        padding: 0;
    }
    
    #texto-largo{
        height: 140px;
    }
    
    form button{
        width:fit-content;
        font-size: 13px;
        margin-top: 10px;
        left: 425px; 
    }
    
    .contactame-contenedor-links{
        position: relative;
        right: 100px;
        margin: 0;
    }
    
    .contactame-contenedor-links a{
        margin-right: 10px;
    }
    
    .contactame-contenedor-links i{
        font-size: 20px;
    }
    
}

@media(max-width: 768px){
    .inicio{
        height: 700px;
    }
        
    .inicio header{
        padding-top: 30px;
    }
    
    .inicio header p{
        font-size: 11px;
        position: relative;
        left: 100px;
    }
    
    .inicio header nav{
        margin-left:200px ;
    }
    
    .inicio header nav a{
        margin-right: 5px;
        font-size: 11px;
        padding: 7px 12px;
        border-radius: 7px;
    }
    
    .inicio section{
        padding: 200px;
    }
    
    .inicio section h1{
        margin-bottom: 17px;
        font-size: 28px;
    }
    
    .inicio section p{
        margin-bottom: 30px;
        font-size: 16px;
    }
    
    .inicio section div a{
        border-radius: 25px ;
        border-width: 1.5px;
        font-size: 18px;
        margin-right: 10px;
        padding: 8px 12px;
    }
    
    #flecha-abajo{
        font-size: 30px;
        position: relative;
        top: 150px;
        left: 0.5px;
    }
    
    .sobre-mi{
    padding: 0px;
    margin-bottom: 100px;
    margin-right: 0;
    }
    
    .sobre-mi img{
        width: 320px ;
        height: 320px; 
        padding: 0px 100px;  
        border-radius: 30%;
    }
    
    .sobre-mi div{
        margin-top: 0px;
        padding-left: 0px;
    }
    
    .sobre-mi div h1{
        font-size: 28px;
    }
    
    .sobre-mi div p{
        font-size: 11px;
        margin-bottom: 15px;
        padding-right: 50px;
    }
    
    .cv-contactame{
        display: flex;
        margin-top: 80px;
        padding-left: 0px;
        width: fit-content; 
    }
    
    .cv-contactame a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        font-size: 11px;
        padding: 5px 10px;
        border-radius: 7px;
        width: 80px;
        height: 20px;
        position: relative;
        right: 10px; 
    }
    
    .habilidades{
        padding: 60px 0px 80px 100px;
        border-radius: 30px;
    }
    
    .skills-descripcion{
        margin-top: 50px;
        padding-left: 0px;
        margin-right: 70px;
        height: auto;
    }
    
    .skills-descripcion h1{
        font-size: 27px;
    }
    
    .skills-descripcion h3{
        font-size: 15px;
        margin-bottom: 20px;
        font-weight: 300;
    }
    
    .skills-descripcion p{
        font-size: 11px;
        margin-bottom: 20px;
    }
    
    .habilidades div a{
        margin-top: 30px;
        font-size: 11px;
        padding: 7px 12px;
        border-radius: 7px;
    }
    
    .alinear-skills{
        margin-right: 30px;
    }
    
    .alinear-skills div{
        margin-right: 30px;
    }
    
    .alinear-skills img{
        width: 60px;
        height: 60px;
    }

    .alinear-skills p{
        font-size: 11px;
    }

    #icono-html{
        font-size: 43px;
        margin-bottom: 20px;
    }
    
    #icono-css{
        font-size: 43px;
        margin-bottom: 20px;
    }
    
    .experiencia{
        padding: 60px 0px 0px 80px;
        height: 100%;
    }
    
    .experiencia h1{
        margin-bottom: 70px;
        font-size: 27px;
    }
    
    .contenedor-experiencia{
        padding: 0px 100px 150px 100px;
    }
    
    #num-2024{
        padding: 10px;
        height: fit-content;
        font-weight: 300;
        margin-right: 30px;
        font-size: 11px;
    }
    
    .formas{
        margin-right: 25px;
    }
    
    .circulo{
        border-radius: 10px;
        padding: 5px;
    }
    
    .linea-recta{
        width: 2px;
        height: 100%;
        position: relative;
        left: 6px;
        top: 12px;
    }
    
    .experienciaa h2{
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    .experienciaa h3{
        margin-bottom: 20px;
        font-size: 11px;
    }
    
    .experienciaa p{
        font-size: 11px;
    }
    
    .ultimos-proyectos{
        height: 100%;
        margin-bottom: 0px;
    }
    
    .ultimos-proyectos h1{
        font-size: 27px;
        margin-bottom: 100px;
    }
    
    .ultimos-proyectos-contenedor{
        padding: 0px 0px 0px 50px;
    }
    
    #flecha-izquierda{
        margin-right: 100px;
    }
    
    .ultimos-proyectos-contenedor i{
        font-size: 40px;
    }
    
    .ultimos-proyectos div img{
        width: 400px;
        height: 200px;
        border-radius: 10px;
        margin-right: 20px;
        position: relative;
        bottom: 50px;
    }
    
    .ultimos-proyectos-contenedor-descrip{
        height: 300px;
        padding-right: 0px;
        width: 100%;
    }
    
    .ultimos-proyectos-contenedor-descrip h2{
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .ultimos-proyectos-contenedor-descrip p{
        font-size: 11px;
        padding-right: 100px;
    }
    
    .ultimos-proyectos-contenedor-descrip a{
        margin-right: 5px;
        font-size: 11px;
        padding: 7px 12px;
        border-radius: 7px;
        width: fit-content;
    }
    
    #flecha-derecha{
        position: absolute;
        right: 50px;
    }
    
    .perfiles{
        padding: 0px 0px 50px 0px;
    }
    
    .links-perfiles{
        padding: 50px 0px 50px 0px;
        margin-right: 0px;
        height: 160px;
        margin-left: 150px;
    }
    
    .links-perfiles div{
        margin-right: 50px;
    }
    
    .links-perfiles i{
        font-size: 43px;
        margin-bottom: 10px;
    }
    
    .links-perfiles p{
        font-size: 11px;
    }

    .perfiles-contenedor{
        height: 200px;
        padding-right: 70px;
    }
    
    .perfiles-contenedor h1{
        font-size: 27px;
        margin-top: 0;
        margin-bottom: 30px;
    }
    
    .perfiles-contenedor p{
        font-size: 13px;
    }

    .contactame{
        padding: 50px 0px 20px 0px;
        border-radius: 20px;
    }
    
    .contactame-contenedor-titulo{
        margin-right: 50px;
    }
    
    .contactame-contenedor-titulo h1{
        font-size: 27px;
        margin-bottom: 20px;
    }
    
    .contactame-contenedor-titulo h3{
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 11px;
    }
    
    .contactame-contenedor-titulo p{
        font-size: 8px;
        margin-bottom: 10px;
    }
    
    form{
        width: 400px;
    }

    form label{
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    form input{
        border-radius: 7px;
        height: 30px;
        margin-bottom: 15px;
        padding: 5px;
        font-size: 11px;
        width: 100%px;
    }
    
    .numero-correo{
        margin-right: 30px;
        width: 200px;
        padding: 0;
    }
    
    #texto-largo{
        height: 140px;
    }
    
    form button{
        width:fit-content;
        font-size: 13px;
        margin-top: 10px;
        left: 350px; 
    }
    
    .contactame-contenedor-links{
        position: relative;
        right: 30px;
        margin: 0;
    }
    
    .contactame-contenedor-links a{
        margin-right: 10px;
    }
    
    .contactame-contenedor-links i{
        font-size: 16px;
    }

}


@media(max-width: 431px){
    .inicio{
        height: 100vh;
        width: 100vw;
    }
        
    .inicio header{
        padding-top: 30px;
        padding-right: 15px;
        display: flex;
        justify-content: end;
    }
    
    .inicio header p{
        display: none;
    }
    
    .inicio header nav{
        display: none;
    }
    
    .inicio header nav a{
        display: none;
    }
    
    #list{
        display: inline;
        font-size: 35px;
    }

    .inicio section{
        margin-top: 150px;
        padding: 50px;
    }
    
    .inicio section h1{
        margin-bottom: 7px;
        font-size: 25px;
    }
    
    .inicio section p{
        margin-bottom: 40px;
        font-size: 14px;
    }
    
    .inicio section div a{
        border-radius: 25px ;
        border-width: 1.5px;
        font-size: 18px;
        margin-right: 10px;
        padding: 8px 12px;
    }
    
    #flecha-abajo{
        font-size: 30px;
        position: relative;
        top: 250px;
        left: 0.5px;
    }
    
    .sobre-mi{
    padding: 0px;
    margin-bottom: 0px;
    margin-right: 0;
    height: 100vh;
    width: 100vw;
    }
    
    .sobre-mi img{
        display: none;
    }
    
    .sobre-mi div{
        margin-top: 0px;
        padding-left: 0px;
        position: relative;
        left: 0px;
        top: 100px;
        height: fit-content;
    }
    
    .sobre-mi div h1{
        font-size: 35px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .sobre-mi div p{
        font-size: 14px;
        margin: 0px;
        margin-bottom: 20px;
        padding: 0px 20px 0px 20px;
    }
    
    .cv-contactame{
        display: flex;
        margin-top: 80px;
        padding-left: 0px;
        width: fit-content; 
        position: relative;
        left: 180px;
    }
    
    .cv-contactame a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        font-size: 16px;
        padding: 7px 12px;
        border-radius: 7px;
        width: fit-content;
        height: 25px;
        position: relative;
        right: 0px; 
        left: 100px;
    }
    
    .habilidades{
        padding: 0px 0px 0px 0px;
        border-radius: 30px;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    .skills-descripcion{
        margin-top: 50px;
        padding-left: 10px;
        margin-right: 10px;
        height: auto;
        margin-bottom: 30px;
    }
    
    .skills-descripcion h1{
        font-size: 35px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .skills-descripcion h3{
        font-size: 18px;
        margin-bottom: 30px;
        font-weight: 300;
    }
    
    .skills-descripcion p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .habilidades div a{
        margin-top: 0px;
        font-size: 16px;
        padding: 8px 13px;
        border-radius: 7px;
        position: relative;
        top: 350px;
        left: 150px;
    }
    
    .alinear-skills{
        margin-right: 0px;
        position: relative;
        left: 60px;
        top: 50px;
        width: 100%;
    }
    
    .alinear-skills div{
        margin-right: 30px;
    }
    
    .alinear-skills img{
        width: 60px;
        height: 60px;
    }

    .alinear-skills p{
        font-size: 11px;
    }

    #icono-html{
        font-size: 43px;
        margin-bottom: 20px;
    }
    
    #icono-css{
        font-size: 43px;
        margin-bottom: 20px;
    }
    
    .experiencia{
        padding: 0px 0px 0px 0px;
        height: 100vh;
        width: 100vw;
    }
    
    .experiencia h1{
        margin-top: 150px;
        margin-bottom: 70px;
        font-size: 35px;
    }
    
    .contenedor-experiencia{
        padding: 0px 0px 0px 0px;
        width: 100vw;
    }
    
    #num-2024{
        padding: 10px;
        height: fit-content;
        font-weight: 300;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 14px;
    }
    
    .formas{
        margin-right: 10px;
    }
    
    .circulo{
        border-radius: 10px;
        padding: 5px;
    }
    
    .linea-recta{
        width: 2px;
        height: 100%;
        position: relative;
        left: 6px;
        top: 12px;
    }
  
    .experienciaa{
        width: 420px;
        height: 300px;
    }

    .experienciaa h2{
        margin-bottom: 20px;
        font-size: 18px;
        width: fit-content;
        padding-right: 50px;
    }
    
    .experienciaa h3{
        margin-bottom: 20px;
        font-size: 14px;
        padding-right: 0px;
        padding-right: 50px;
    }
    
    .experienciaa p{
        font-size: 14px;
        padding-right: 0px;
        padding-right: 50px;
    }
    
    .ultimos-proyectos{
        height: 100vh;
        margin-bottom: 0px;
    }
    
    .ultimos-proyectos h1{
        font-size: 35px;
        margin-bottom: 100px;
    }
    
    .ultimos-proyectos-contenedor{
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
    }
    
    #flecha-izquierda{
        margin-right: 0px;
        position: relative;
        right: 115px;
        top:525px;
    }
    
    .ultimos-proyectos-contenedor i{
        font-size: 40px;
    }
    
    .ultimos-proyectos div img{
        width: 250px;
        height: 250px;
        border-radius: 10px;
        margin-right: 0px;
        position: relative;
        bottom: 50px;
    }
    
    .ultimos-proyectos-contenedor-descrip{
        height: 300px;
        padding-right: 0px;
        width: 100%;
    }
    
    .ultimos-proyectos-contenedor-descrip h2{
        font-size: 18px;
        margin-bottom: 20px;
        position: relative;
        bottom: 350px;
        text-align: center;
    }
    
    .ultimos-proyectos-contenedor-descrip p{
        font-size: 14px;
        padding-right: 50px;
        padding-left: 50px;
        position: relative;
        bottom: 50px;
    }
    
    .ultimos-proyectos-contenedor-descrip a{
        margin-right: 0px;
        margin-top: 0px;
        font-size: 16px;
        padding: 8px 13px;
        border-radius: 7px;
        width: fit-content;
        position: relative;
        top: 115px;
        left: 150px;
    }
    
    #flecha-derecha{
        position: relative;
        right: 0px;
        bottom:65px;
        left: 100px;
    }
    
    .perfiles{
        padding: 0px 0px 50px 0px;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
    }
    
    .links-perfiles{
        padding: 0px 0px 0px 0px;
        margin-right: 0px;
        height: 160px;
        margin-left: 50px;
        order: 1;
    }
    
    .links-perfiles div{
        margin-right: 50px;
    }
    
    .links-perfiles i{
        font-size: 46px;
        margin-bottom: 10px;
    }
    
    .links-perfiles p{
        font-size: 11px;
    }

    .perfiles-contenedor{
        height: 200px;
        padding-right: 0px;
        padding-top: 300px;
    }
    
    .perfiles-contenedor h1{
        font-size: 35px;
        margin-top: 0;
        margin-bottom: 50px;
        text-align: center;
    }
    
    .perfiles-contenedor p{
        font-size: 15px;
        padding: 0px 15px;
    }

    .contactame{
        padding: 50px 0px 20px 0px;
        border-radius: 20px;
        height: 100vh;
        width: 100vw;
    }
    
    .contactame-contenedor-titulo-form{
        display: flex;
        flex-direction: column;
    }

    .contactame-contenedor-titulo{
        margin-right: 0px;
        margin-bottom: 100px;
    }
    
    .contactame-contenedor-titulo h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    
    .contactame-contenedor-titulo h3{
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 14px;
    }
    
    .contactame-contenedor-titulo p{
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    form{
        width: 350px;
    }

    form label{
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    form input{
        border-radius: 7px;
        height: 30px;
        margin-bottom: 15px;
        padding: 5px;
        font-size: 11px;
        width: 100%;
    }
    
    .form-numero-correo{
        flex-direction: column;
    }

    .numero-correo{
        margin-right: 0px;
        width: 100%;
        padding: 0;
    }
    
    #texto-largo{
        height: 140px;
    }
    
    form button{
        width:fit-content;
        font-size: 15px;
        margin-top: 10px;
        left: 300px; 
    }
    
    .contactame-contenedor-links{
        position: relative;
        right: 30px;
        margin: 0;
        margin-top: 20px;
    }
    
    .contactame-contenedor-links a{
        margin-right: 10px;
    }
    
    .contactame-contenedor-links i{
        font-size: 26px;
    }

}