@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    color: #FBFBFB;
}

body{
    background-color: #000000;
    width: 100%;
}

.inicio{
    background: url(../img/fondo3copia.jpg); 
    background-repeat: no-repeat; 
    position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inicio header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inicio header p{
    color: #E0AB2B;
}

.inicio nav{
    display: flex;
    justify-content: space-between;
}

.inicio header nav a{
    color: #FBFBFB;
    text-decoration: none;
}

.inicio header nav a:hover{
    color: #FBFBFB;
    background-color: #E0AB2B;
    transition: 0.5s;
}

.inicio section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio section h1 span{
    color: #E0AB2B;
}

.inicio section div a{
    border: solid;
    border-color: #FBFBFB;
}

#flecha-abajo{
    color: #b5b5b6;
}

.sobre-mi{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sobre-mi img{
    justify-content: center;
    align-items: center;
    box-shadow: #000000;
}

.yellow-underline{
    text-decoration: underline #E0AB2B;
    text-underline-offset: 15%;
}

.sobre-mi a{
    color: #E0AB2B;
    text-decoration: none;
    border-radius: 7px;
    transition: 0.5s;
}

.sobre-mi a:hover{
    color: #FBFBFB;
    background-color: #E0AB2B;
}

.cv-contactame{
    display: flex;
    flex-direction: row;
}

.habilidades{
    display: flex;
    flex-direction: row;
    background-color: #353333;
    justify-items: center;
    height: auto;
}

.habilidades div a{
    color: #FBFBFB;
    text-decoration: none;
    background-color: #E0AB2B;
    transition: 0.5s;
}

.habilidades div a:hover{
    background-color: #e0aa2bb1;
}

.alinear-skills{
    display: flex;
    flex-direction: row;
}

.alinear-skills div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.contenedor-experiencia{
    display: flex;
    flex-direction: row;
}

#num-2024{
    background-color: #424242;
    height: auto;
}


.formas{
    display: flex;
    flex-direction: column;
}

.circulo{
    border: #E0AB2B solid;
}


.linea-recta{
    background-color: #E0AB2B;
}

.experienciaa{
    display: flex;
    flex-direction: column;
}

.ultimos-proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ultimos-proyectos-contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ultimos-proyectos-contenedor i{
    color: #FBFBFB;
    cursor: pointer;
}

.ultimos-proyectos-contenedor-descrip{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.ultimos-proyectos-contenedor-descrip a{
    color: #FBFBFB;
    text-decoration: none;
    background-color: #E0AB2B;  
    transition: 0.5s;; 
}

.ultimos-proyectos-contenedor-descrip a:hover{
    background-color:#e0aa2bb1;
}

.perfiles{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.links-perfiles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links-perfiles div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links-perfiles i{
    color:#b5b5b6;
    transition: 0.5s;
}

.links-perfiles i:hover{
    color: #FBFBFB;
}

.links-perfiles p{
    color:#b5b5b6;
}

.perfiles-contenedor{
    display: flex;
    flex-direction: column;
}

.contactame{
    background-color: #353333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contactame-contenedor-titulo-form{
    display: flex;
    flex-direction: row;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    color: #b5b5b6;
}

form input{
    background-color: #424242;
    border: none;
}

.form-numero-correo{
    display: flex;
    flex-direction: row;
}

.numero-correo{
    display: flex;
    flex-direction: column;
}

form button{
    color: #E0AB2B;
    background-color: #353333;
    border: none;
    position: relative;
    cursor: pointer;
}

form button:hover{
    color:#e0aa2bb1;
}

form button i{
    color: #E0AB2B;
}

form button i:hover{
    color: #e0aa2bb1;
}

.contactame-contenedor-links{
    text-align: right;
    width: 100%;
}

.contactame-contenedor-links i{
    color:#b5b5b6;
}

.contactame-contenedor-links i:hover{
    color: #FBFBFB;
}





